<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/nav.ejs') %>
    <div class="blogs content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe assumenda
        consectetur totam nesciunt et in dolore facere, nemo eveniet
        consequuntur magni libero a maxime vel. Dignissimos reiciendis assumenda
        ad natus?
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure
        distinctio laborum optio. Neque expedita cum eveniet dolore sed incidunt
        itaque beatae quae, deserunt maiores. Fugiat reiciendis recusandae
        eligendi quisquam at!
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos
        illum nihil vitae quidem culpa repellat enim doloremque quas ad sed
        molestiae, velit ullam incidunt error repellendus labore et animi
        ratione!
      </p>
    </div>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
